{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "node": true,
  },

  "rules": {
    "function-paren-newline": 0,
    "no-console": 0,
    "no-underscore-dangle": 1,
    "object-curly-newline": 0,
    "max-len": 0,
  },

  "overrides": [
    {
      "files": "test/**/*",
      "env": {
        "mocha": true,
      },
      "rules": {
        "indent": 1,
        "prefer-promise-reject-errors": 0,
      },
    },
    {
      "files": "test/components/**/*",
      "rules": {
        "object-shorthand": 0,
        "func-names": 0,
      },
    },
  ],
}
